table thead {
    font-weight: bolder;
}

.modal-body .input-group {
    padding-bottom: 10px;
    margin: auto;
}

.modal-body .input-group-addon {
    width: 150px;
}

.modal-body .input-group input {
    width: 300px;
}

.modal-body .input-group select {
    width: 300px;
}

#apptypeTab-pane button {
    margin: 20px 0;
}

#apptypeTab-pane table {
    width: 600px;
    text-align: center;
}

#appTab-pane table {
    text-align: center;
}

#searchAppDiv {
    margin: 10px 0;
}

#searchAppDiv button {
    text-align: center;
}

#addAppBtn {
    margin: 15px;
}
