/*ENV START*/
#envListAdd .input-group {
    width: 400px;
    margin: 10px 0;
}

#envListAdd .input-group-addon {
    width: 100px
}

#envListAdd button {
    margin-left: 180px;
}

/*ENV END*/

.showIcon {
}

.hideIcon {
    display: none;
}

#envListShow table {
    margin-top: 20px;
}
#envListShow table thead {
    text-align: center;
}

#envListShow table td {
    padding: 0;
    vertical-align: middle;
}

#envListShow .envIdTd {
    text-align: center
}

#envListShow .envNameTd {
    width: 200px;
}
#envListShow .envDNSTd {
    width: 200px;
}
#envListShow .envIconTd {
    width: 50px;
    text-align: center;
}

#envListShow input {
    border: 0;
    background-color: white;
    outline: none;
}

#serverListShow table {
    margin-top: 20px;
    text-align: center;
}

#serverListShow table td {
    padding: 0;
    vertical-align: middle;
}

#serverListShow input {
    border: 0;
    background-color: white;
    outline: none;
}
#serverListShow .iconTd {
    width: 50px;
    text-align: center;
}

#serverListAdd .input-group {
    width: 400px;
    margin: 10px 0;
}

#serverListAdd .input-group-addon {
    width: 100px
}

#serverListAdd button {
    margin-left: 180px;
}

#vmListAdd .input-group {
    width: 400px;
    margin: 10px 0;
}

#vmListAdd .input-group-addon {
    width: 140px
}

#vmListAdd button {
    margin-left: 180px;
}

#vmListShow table {
    margin-top: 20px;
}
#vmListShow table thead {
    text-align: center;
}

#vmListShow table td {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

#vmListShow .iconTd {
    width: 50px;
    text-align: center;
}