.showIcon {
}

.hideIcon {
    display: none;
}

#permissionListShow {
    width: 700px;
}

#permissionListShow table {
    margin-top: 20px;
}

#permissionListShow td {
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

#permissionListShow input {
    border: 0;
    width: 250px;
    background-color: white;
    padding-bottom: 0;
    padding-top: 0;
    outline: none;
}

#permissionListShow input:focus {
    border-color: white;
}

#permissionListAdd .input-group {
    width: 800px;
    margin-top: 20px;
}

#permissionListAdd .input-group-addon {
    width: 100px;
}

#permissionListAdd .form-control {
    width: 200px;
}

#permissionListAdd button {
    margin-top: 20px;
    margin-left: 130px;
}