.showIcon {
}

.hideIcon {
    display: none;
}

#positionListShow{
    width: 500px;
}

#positionListShow table{
    margin-top: 20px;
}

#positionListShow td{
    padding-bottom: 0;
    padding-top: 0;
    vertical-align: middle;
}

#positionListShow input {
    border: 0;
    width: 300px;
    background-color: white;
    padding-bottom: 0;
    padding-top: 0;
    outline: none;
}

#positionListShow input:focus{
    border-color: white;
}

#positionListAdd .input-group{
    width: 600px;
    margin-top: 20px;
}
#positionListAdd .input-group-addon{
    width: 100px;
}

#positionListAdd .form-control{
    width: 300px;
}
#positionListAdd  button{
    margin-left: 20px;
}