body {
    font-family: "Microsoft YaHei";
}

a {
    cursor: pointer;
}


.container {
    min-height: 875px;
}

/*==================================*/
/* 登陆框*/
.loginForm .input-group {
    padding-bottom: 10px;
    margin: auto;
}

.loginForm .input-group-addon {
    width: 70px;
}

.loginForm #loginusrinput {
    width: 137px;
}

.loginForm #logincorpselect {
    width: 148px;
}

.loginForm #loginpwdinput {
    width: 286px;
}

#loginModal button {
    width: 100px;
}

#pwdModal .input-group {
    padding-bottom: 10px;
    margin: auto;
}

#pwdModal .input-group-addon {
    width: 120px;
}

#pwdModal input {
    width: 300px;
}

/*导航栏*/
.navbar .nav > li .dropdown-menu {
    margin: 0;
}

.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

/*==================================*/
.width-30 {
    width: 40px;
}

.width-50 {
    width: 50px;
}

.width-70 {
    width: 70px;
}

.width-100 {
    width: 100px;
}

.width-110 {
    width: 110px;
}

.width-150 {
    width: 160px;
}

.width-200 {
    width: 200px;
}
.width-300 {
    width: 300px;
}

.container table {
    text-align: center;
    table-layout: fixed;
    word-wrap:break-word;
}

.container table thead{
    font-weight: bolder;
    background: #d9edf7;
}

.container table tbody tr td{
    vertical-align: middle;
}
.lefttextalign{
    text-align: left;
}

.centertextalign{
    text-align: center;
}

#pageSizeSelect {
    float: right;
    margin: 10px 0;
}

.pageSizeSelected {
    font-weight: bolder;
}